name: players_ui
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  animate_do: ^4.2.0
  google_fonts: ^6.3.3
  flutter_launcher_icons: ^0.14.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - images/app_icon.png


flutter_icons:
  android: true
  ios: true
  image_path: "images/app_icon.png"
  adaptive_icon_background: "#00000000"
  adaptive_icon_foreground: "images/app_icon.png"
